<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/stylesIndex.css">
    <title>Repositories</title>
</head> 
<body>
    <h1 >Welcome</h1>
    <div id="container-index" class="container text-center">    
        <a class="btn btn-primary" href="/repositories">Go to repositories</a>
    </div>
</body> 
</html>