<!DOCTYPE html>
<html lang="en">  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
     
    <title>Repositories</title>
</head>
<body>  
<h1 class="text-center">List of Repositories</h1> 
    <% for(let i=0 ; i < data.length ; i++) { %>   
    <div class="container">  
        <img src="<%= data[i].avatar_url %>">  
        <%= data[i].nickName %> 
        <%= data[i].name %> 
        <a href="<%= data[i].github_url %>">Go to repository</a> 
    </div> 
    <% } %>  
</body>

</html>